## Construct 2 ##

# Файлы автоматического сохранения и резервных копий
*.capx.backup*
*.capx.autosave*

# Конфигурация интерфейса редактора для конкретного пользователя
*.uistate.xml

# Дополнительные временные папки (если проект сохранен в виде папки, а не одного файла .capx)
# Игнорируем кэш экспорта и локальные настройки
/obj/
/mtl/

# Популярные форматы архивов
*.zip
*.tar
*.gz
*.rar
*.7z
*.tgz